<pre class="highlight endpoints"><code>
<h4>API endpoint</h4>
<%= data.api.endpoint %>

<h4>Dostupné metody</h4>
<% data.api.endpoints.each do |method, id| %>
<%= link_to "#{method}", "##{id}" %>
<% end %>
</code></pre>