# Chybové hlášky

Základem je HTTP status kód v response, který signalizuje výsledek operace.
Podle první číslice ve status kódu lze rozdělit kódy do 5 skupin. V API jsou používány 3
skupiny: **2XX** pro úspěšné provedení akce, **4XX** pro chybu
na straně klienta a **5XX** pro chybu na straně serveru. Podrobnosti ke
status kodům lze najít např. v [RFC 2616](a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10").

Proč nastala chyba, podrobnosti o chybě jsou popsány dle draftu
[Problem Details](http://tools.ietf.org/html/draft-nottingham-http-problem-06).
Tělo zprávy obsahuje typ problému (URL adresa), název a status kód.
Pokud není uveden ```type```, tak HTTP status kód dostatečně popisuje problém. Pokud je
```type``` uveden, tak zpráva většinou obsahuje další detaily. Například 
při pokusu o získání statistik z roku 2011 obsahuje rok, od kterého jsou statistiky uchovávány.

<% data.problems.each do |problem| %>

## [<%= problem.title %>](#<%= problem.id %>)
    
```
<%= problem.json %>
```

<%= problem.doc %>

<%= partial "endpoint/table", :locals => { :params => problem.params, :hasDefaults => false} %>

<% end %>