# Hypermédia

> V JSON objektu jsou k dispozici `links`, které obsahují odkazy na možné změny stavu aktuálního resourcu. Typický seznam odkazů vypadá následovně: 

```
{
    "links": {
        "rel": {
            "href": "..."
        }
    }
}
```

> Pokud se jedná odkaz na položku v kolekci (`item`), tak je zápis odkazu zjednodušený. Odkaz je připojen přímo jako atribut objektu: 

```
{
    "rel": "href"
}
```

Hypermédia nabízejí možností, které lze provést v dalším kroku. Můžou obsahovat obsahovat odkazy
na související resourcy, možné změny stavu aktuálního resourcu apod.
API používá klasický `application/json` formát, ke kterému je připojen 
ALPS profil specifikující aplikační sémantiku.
Formát hypermédia odkazů vychází z [JSON/Hypcos](//documentup.com/shishkin/json-hypcos). 

Hodnoty místo `rel` jsou klíčová slova, která pravděpodobně budete mít v aplikacích natvrdo začleněné. 
Budete vědět, že odkaz z analýzy zpět na rodiče najdete v `links.collection`. Nebudete tam mít, že 
odkaz si složíte jako `něco/nějaké-id` apod. V API jsou používány tyto link relations: 
 
rel | type | odkazuje na | definice 
--- | ---- | ----------- | --------
<% data.relations.each do |r| %>
[<%= r.id %>](#rel-<%= r.id %>) | <%= r.type %> | <%= r.doc %>  | <% if r.help %> [<%= r.help.title %>](<%= r.help.link %>) <% end %>
<% end %>
