<% if isResource %>
```curl
<%=
if endpoint.has_key?('languages')
    endpoint.languages.curl
else
    partial "endpoint/curl", :locals => { :endpoint => endpoint }
end
%>
```
<% end %>

<% (endpoint.examples || []).each do |example| %>

<%= "> #{example.title}" if example.title %>

<% if example.json %>
```json
<%= example.json %>
```
<% elsif example.code %>
```
<%= example.code %>
```
<% elsif example.template %>
<%= partial example.template %>
<% end %>

<% end %>
