<% isResource = endpoint.has_key?('resource') %>
<% headingLevel = endpoint.has_key?('subtypes') ? '#' : '##' %>
<%= "#{headingLevel} #{endpoint.title}" %>

<%= partial "endpoint/code", :locals => { :endpoint => endpoint, :isResource => isResource } %>

<%= "`#{endpoint.resource.verb} #{api_url(endpoint.resource.path)}`" if isResource %>

<%= endpoint.doc if endpoint.doc %>

<% (endpoint.params || []).each do |group| %>
### <%= group.title %>
    <%= group.doc if group.doc %>
    <%= partial "endpoint/table", :locals => { :params => group.params, :hasDefaults => group.hasDefaults} %>
<% end %>

<%
(endpoint.subtypes || []).each do |subtype| 
    concat partial "endpoint/endpoint", :locals => { :endpoint => eval(subtype) }
end
%>