
<% if params %>

<% if hasDefaults %>
Parametr | Default | Význam
-------- | ------- | ------
<% else %>
Parametr | Význam
-------- | ------
<% end %>
<% params.each do |param| %>
<% if hasDefaults %>
*<%= param.id %>* | <%= param.defaultValue %> | <%= param.doc %>
<% else %>
*<%= param.id %>* | <%= param.doc %>
<% end %>
<% end %>

<% end %>