---
title: API Reference
search: true
language_tabs: [curl]
toc_footers:
  - <a href="http://www.rozpisyzapasu.cz">Rozpisy zápasů</a>
  - <a href="https://bitbucket.org/sports-scheduler/api">Source code</a>
  - <a href="http://github.com/tripit/slate">Slate Documentation</a>

includes:
  - "hypermedia"
  - "errors"
---

<% data.api.sections.each do |section| %>
<%= partial "endpoint/endpoint", :locals => { :endpoint => eval(section) } %>
<% end %>
